 
<div class="wrap">
　<%= image_tag 'desk.jpg' , alt: 'desk' , :size =>'1450x967', class: 'backpic' %>
  <div class="content">
  <div class="head">
    <div class="head__right">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="mid">
    <div class="mid__up">
      <div class="top-text">
      Tomohiko & M
      </div>
    </div>
    <div class="mid__mid">
      <div class="top-text">
      Web app creater
      </div>
    </div>
    <div class="mid__mid--line">
    </div>
    <div class="mid__low">
      <div class="top-contact">
      CONTACT
      </div>
    </div>
    <div class="work">
      <div class="workcont work-1">
      <a href=http://3.114.214.226/ target="_blank"><%= image_tag 'chat.png' , alt: 'chat' , :size =>'273x200', class: 'workpic' %></a>
      </div>
      <div class="workcont work-2">
      <a href=http://52.192.70.14/ target="_blank"><%= image_tag 'mercari.png' , alt: 'chat' , :size =>'273x200', class: 'workpic' %></a>
      </div>
      <div class="workcont work-3">
      <a href=http://3.114.77.156/products/new target="_blank"><%= image_tag 'car-app.png' , alt: 'chat' , :size =>'273x200', class: 'workpic' %></a>
      </div>
      <div class="workcont work-4">
      <a href=http://agr-channel.main.jp/ target="_blank"><%= image_tag 'agr.png' , alt: 'chat' , :size =>'273x200', class: 'workpic' %></a>
      </div>
    </div>
    <div class="foot">
      <div class="foot__up">
        <div class="foottext foot-1">
        WORK
        </div>
        <div class="foottext foot-2">
        ABOUT
        </div>
        <div class="foottext foot-3">
        <a href=https://miiitomo.hatenablog.com/ target="_blank">BLOG</a>
        </div>
      </div>
      <div class="foot__low">
        <div class="foottext foot-4">
          <a href=https://twitter.com/dqLfsEuSDZHlLQg target="_blank">
          <i class="fab fa-twitter-square"></i>
          </a>
        </div>
        <div class="foottext foot-5">
         <i class="far fa-envelope"></i>
        </div>
      </div>
      <div class="footer">
      Copyright Tomohiko & M 2019.
      </div>
    </div>
  </div>
  
  
</div>
<%# <div class="pic">  %>

 <%# </div> %>
